@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenido a la pagina principal de la Institución Marvella</h1>

<h2>En esta página podrá acceder a la informacion sobre estudiantes, cursos e inscripciones y acceder a ella</h2>
